*,*::before, *::after {box-sizing: border-box;}

:root{
    --color-boton:#fff;
    --color-backgroud:#1b1c23;
    --color-glass:rgba(255,255,255, 0.1);
    --color-shadow:rgba(0,0,0,0.1);
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-boton);
    font-family: 'Poppins', sans-serif;
}
/* Background Video*/
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* diseño-Contenedor  */
.container
{
    background-color: rgba(0,0, 0,0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.container:hover{
    background-color: rgba(0,0, 0,0.3);
}
.selec img
{
    position: relative;
    width: 200px;
    height: 280px;
    background: rgba(255,255,255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    margin-left:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    cursor: pointer ;
}
/* imagen Animation */
.selec img:hover{
    border: 3px solid rgba(255, 255, 255, 0.5);
    filter: none;
    filter: drop-shadow(1px 1px 80px rgb(255, 0, 157));
    user-select: none;
}
